<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Order of Saints</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/logo.png" alt="logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/display">User Display</a></div>
    <div class="navlink"><a href="/about2">About</a></div>
  </nav>
  <section id="about">
    <div><p>This MVC project will serve as a user system for my final project, which is a game. Once users
    have signed up, they can login with the same credentials upon returning. While logged in, users
    can edit their info that will be displayed to other users, and join rooms to launch games together.
    For now, starting the game directs users to a page where they click a button to increase their
    score. This is a temporary placeholder for where my final project game will go and update the user's
    highscore.</p></div>
  </section>
  <div id="domoMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="domo" src="assets/img/domo.png" alt="domo"/>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="/assets/client.js" type="text/babel"></script>
</body>
</html>